#order-form .input#country, #order-form .input#city, #order-form .input#service, #order-form .input.street, #order-form .input.dom, #order-form .input.pod{
	float: none;
	position: static;
	margin-right: 0px;
}
#order-form #country .header, #order-form #city .header, #order-form #service .header, #order-form #country .list, #order-form #city .list, #order-form #service .list, #order-form.order-country #city .header, #order-form.order-country #service .header, #order-form.order-country #city .list, #order-form.order-country #service .list{
	width: 100%;
}
.input .header{
	background-color: #fcfcfc;
	display: -webkit-box;
	height: 50px;
	border: 1px solid #aaa;
	border-radius: 0px;
}
.input .header:hover{
	opacity: 1;
}
.input .header.active{
	opacity: 1;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3;
	border:0px;
	border-bottom: 1px solid #aaa;
}
.input .header input{
	height: 100%;
    padding: 8px;
}
.input .header i{
	width: 60px;
	height: 50px;
	background: transparent;
}
.input.buttom .header i{
    background: transparent;
}
.input .header i::before {
	border: 15px solid transparent;
	border-top: 15px solid #f6b317;
	top: 17px;
	left: 15px;
	opacity: 1;
	border-radius: 20px;
}
.input.buttom .header i::before {
	border-top: 15px solid #fff;
}
.input .header i::after {
	border: 14px solid transparent;
	border-top: 14px solid #fcfcfc;
	top: 12px;
	left: 16px;
}
.input.buttom .header i::after {
	border-top: 14px solid #000;
}
.input .list, .input .checkbox{
	border-radius: 0px;
	background-color: #fcfcfc;
	position: fixed;
	max-height:100%;
	min-height:100%;
	top:0px;
	z-index: 2;
}
.input .list .item, .input .checkbox .item{
	padding: 15px 10px;
	border-bottom: 1px solid #f1f1f1;
}
.input .list .item.one{
	margin-top: 51px;
}
.input .list .item:hover{
	background-color: #f6b317;
	color: #000;
}
.input .list::-webkit-scrollbar-thumb, .input .checkbox::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: #f6b317;
}
.input .list::-webkit-scrollbar, .input .checkbox::-webkit-scrollbar {
	width: 4px;
}
#addresses .address.active{
	position: static;
}
#addresses .address .sort{
	display: block;
}
#addresses .address .sort i.delete:before, #addresses .address .sort i.delete:after {
	top: 20px;
}
#addresses .address .sort i:last-child::before {
	top: 36px;
}
#addresses .address .sort i:first-child::before{
	top: 0px;
}
#addresses .address .street{
	width: auto;
	float: none;
}
#addresses .address .street .header.active i, #addresses .address .dom .header.active i{
	display: block;
}
#addresses .address:first-child .street, #addresses .address:first-child .dom{
	width: auto;
}
.street.input .list .item:first-child, .dom.input .list .item:first-child, .pod.input .list .item:first-child, .checkbox .item:first-child {
	margin-top: 51px;
}
#addresses .address .dom{
	width:100%;
	margin-left: 0px;
}
#addresses .address:first-child .dom{
	width:39%;
	margin-left: 0px;
	margin-right:1%;
	float: left;
}
#addresses .address .pod{
	width:59%;
	margin-left:1%;
	float: left;
}
#dop-settings-content{
	border-radius: 3px;
}
.radio{
	height: 40px;
	border-radius: 0px;
}
.radio div p{
	padding: 13px;
}
#form-datapred{
	padding: 2%;
	position: fixed;
	top: 50px;
	left: 0px;
	width: 100%;
	height: 100%;
}
#form-datapred div.radio, #form-datapred #datepred-date div.calendar, #form-datapred #add-pred-datetime.input .header{
	width: 96%;
	margin: 0px;
}
#form-datapred #datepred-time{
	width: 96%;
}
#form-datapred #select-hour .label, #form-datapred #select-hour .header, #form-datapred #select-hour .list, #form-datapred #select-minute .label, #form-datapred #select-minute .header, #form-datapred #select-minute .list, #form-datapred #add-pred-datetime {
	width: 100%;
	margin: 0px;
}
#form-datapred div.radio, #form-datapred #select-hour .label, #form-datapred #select-minute .label{
	margin-bottom: 10px;
}
.calendar #calendar-select-month i:last-child {
	right: 6%;
}
#form-datapred .radio div#label-datepred-date, .radio div#label-datepred-now{
	border-radius: 0px;
}
#form-datapred .radio div#label-datepred-time, .radio div#label-datepred-other{
	border-radius: 0px;
}
#form-datapred #select-hour, #form-datapred #select-minute {
	width: 100%;
	float: none;
	margin-left: 0px;
}
#form-datapred .colon{
	display: none;
}
#form-datapred #add-pred-datetime, #add-options-order{
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	padding: 10px 2%;
}
#select-hour .list .item, #select-minute .list .item {
	padding: 15px 0px;
}
.checkbox .item:last-child {
	margin-bottom: 73px;
}
#options-order.active #add-options-order{
	width: 96%;
	z-index: 2;
	bottom: -10px;
	background-color: #fff;
	display: block;
}
#price-order, .auth #price-order, #to-order, #button-auth {
	width: 100%;
}
.input.transparent .header, .input.big-buttom .header{
	padding: 0px;
}
#to-order, #button-auth{
	margin:0px;
	margin-bottom: 10px;
}
#form-auth, #form-auth.error{
	height: 100%;
	width: 100%;
	border: 0px;
	border-radius: 0px;
	background-color: #fff;
	background-image: url(images/background.png);
	background-size: 100% 100%;
}
#form-auth>div, #form-auth.error>div{
	margin: 0px 2%;
	padding: 0px;
	width: 96%;
	border-radius: 0px;
	background: transparent;
}
#form-auth>div>div, #form-auth>div>div.login, #form-auth>div>div.password, #form-auth>div>div.error{
    width: 100%;
	margin: 0px;
	padding-top: 10px;
}
#price-order>.wait-price{
	height: 50px;
	border-radius: 0px;
}
.input.error .header {
	height: 48px;
}
.input.error .header input{
	padding: 7px;
}
.input.error .header i::after {
	border-top: 14px solid #ffd7d9;
}
